.chatpage-container {
  background-color: #7DF9FF;
  position: absolute;
  top: 3.5rem; /* Adjust according to the navbar height */
  height: calc(100vh - 3.5rem);
  left: 4rem; /* Adjust according to the sidebar width */
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.chat-container {
  background-color: #E0FFFF; /* A slightly different shade to distinguish the chat area */
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.chat-input {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-right: 1rem;
}

.chat-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}

.chat-button.mt-4 {
  margin-top: 1rem;
}
